<a href="https://colab.research.google.com/github/JulyNavarro/shepy/blob/main/Aula_1_ShePy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1 - shePy

Nessa aula nos iremos *trabalhar com **Python** e realizar operacoes matematicas

## Tipos de dados

numericos :
- inteiros (**int**)9,7,-4

- reais (**float**)3.14, 600.4, 8.9

Nao numericos:

- Texto/ string (**str**) : 'Python', 'Maria'
- logico (**bool**) : True ou False

### Variaveis e identificadores

variaveis sao elementos basicos na programacoa que armazenam os dados que precisamos em nosso algoritmo.

Toda variavel e caracterizada por um nome (que vai identificar) e por um tipo

Um identificador em python pode ter apenas :
- letras de A a Z 
- Digitos de 0 a 9
- O simbolo de undescor _

Regras 

Python diferencia letras maiusculas e minusculas

In [ ]:
nome = 'Maria'
print(nome)

Maria

In [ ]:
idade = 24.0

In [ ]:
type(idade)

float

In [ ]:
int(idade)

24

In [ ]:
print('Hello, word')

Hello, word

In [ ]:
print(2)

2

In [ ]:
print('Hello, word')

Hello, word

In [ ]:
mensagem = 'Hello,word'

In [ ]:
print(mensagem)

Hello,word

In [ ]:
type(mensagem)

str

In [ ]:
print(mensagem,'Estou aprendendo a programar')

Hello,word Estou aprendendo a programar

In [ ]:
meu_nome = "Maria"

In [ ]:
print(meu_nome)

Maria

In [ ]:
print('Hello,',nome,'!')

Hello, Maria !

In [ ]:
salario = 1245.3

In [ ]:
type(salario)

float

In [ ]:
print('O meu salario e', salario)

O meu salario e 1245.3

In [ ]:
idade= 22
IDADE= 23
print(idade,IDADE)

22 23

In [ ]:
print('ola, {}'.format(nome))

ola, Maria

In [ ]:
nome='July'
idade= 35
idade_2 = 36

In [ ]:
print('O meu nome e {} e eu tenho {} mas ano que vem faco {}'.format(nome,idade,idade_2))

O meu nome e July e eu tenho 35 mas ano que vem faco 36

- Nome (str)
- Idade (int)
- Altura (float)
- Estado civil (str)
- Numero do sapato (int)
- Voce tem CNH (bool)

In [ ]:
3+3

6

In [ ]:
5-7

-2

In [ ]:
3 ** 2

9

In [ ]:
9**(1/2)

3.0

In [ ]:
9**(0.5)

3.0

In [ ]:
num1=3
num2=5

print(num1+num2)
print(num2-num1)
print(num1*num2)
print(num2/num1)
print(num2**num1)

8
2
15
1.6666666666666667
125

In [ ]:
num1 = 3
num2 = 5
soma = num1+num2

print('A soma entre {} e {} e :{}'.format(num1,num2,soma))

A soma entre 3 e 5 e :8

In [ ]:
n1= int(input('Digite um numero: '))
n2 = int(input('Digite um segundo numero: '))
n3 = int(input('Digite um terceiro numero: '))

soma= n1+n2+n3

print(soma)

Digite um numero: 4
Digite um segundo numero: 4
Digite um terceiro numero: 2
10

In [ ]:
n1= int(input('Digite um numero: '))
n2 = int(input('Digite um segundo numero: '))
n3 = int(input('Digite um terceiro numero: '))

subtracao= n1-n2-n3

print(subtracao)

Digite um numero: 5
Digite um segundo numero: 4
Digite um terceiro numero: 1
0

In [ ]:
2+3*4/5-6

-1.5999999999999996

In [ ]:
(2+3)*4/(5-6)

-20.0

In [ ]:
n1= float(input('Digite um numero: '))
n2 = float(input('Digite um segundo numero: '))


soma= n1+n2

print('A soma entre {} e {} e : {}'.format(n1,n2,soma))

Digite um numero: 2.0
Digite um segundo numero: 4.5
A soma entre 2.0 e 4.5 e : 6.5

In [ ]:
print('A soma entre {} e {} e : {}'.format(n1,n2,soma))

A soma entre 2.0 e 4.5 e : 6.5

In [ ]:
n1 = int(input('Digite um numero: '))

antecessor = n1 - 1
sucessor = n1 + 1

print('O antecessor do numero {} e {} e o sucessor e {}'.format(n1,antecessor, sucessor))

Digite um numero: 2
O antecessor do numero 2 e 1 e o sucessor e 3

In [ ]:
L1= float(input('Digite um numero: '))
A2 = float(input('Digite um segundo numero: '))

x = L1*A2

print(x)

tinta = x/2

print('A area de {} m2 e a quantidade de tinta e {} litros.'format(x,tinta))

SyntaxError: ignored

In [ ]:
lagura = float(input('Largura da parede: '))
altura = float(input('Altura da parede: '))

area = lagura * altura

tinta = area / 2

print('A área será de {} m² e a quantidade de tinta é de {} litros.'.format(area, tinta))

Largura da parede: 2
Altura da parede: 2
A área será de 4.0 m² e a quantidade de tinta é de 2.0 litros.

In [ ]:
KM = float(input('KM percorrido: '))
dias_alugado = int(input('Dias de aluguel: '))

area = lagura * altura

preco= (KM*0.2)+(dias_alugado* 80)

print('O preco a ser pago e {} reais.'.format(preco))

KM percorrido: 100
Dias de aluguel: 1
O preco a ser pago e 100.0 reais.